# AWS profile name from ~/.aws/credentials
# This will use default credentials, handle with care.
# Follow your organization's best practices.
# If not set, the notebook should pick up what you've federated in as.
AWS_PROFILE=your-profile-name
AWS_REGION=your-region
